.button {
    width: 153px;
    height: 32px;
    background: $main-color;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    &_main {
        margin-top: 79px;
        width: 300px;
        height: 50px;
        font-weight: 500;
        font-size: 16px;
    }
    &_subbmit {
        width: 100%;
        height: 58px;
        background: $main-color;
        font-size: 16px;
    }
}