.pluses {
    min-height: 473px;
    background: #F6F6F6;
    padding-top: 73px;
    &__header {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #0D0D0D;
    }
    &__icons {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }
    &__subheader {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
        img {
            margin-bottom: 35px;
        }
    }
}   