.reviews {
    padding-bottom: 71px;
    &__title {
        text-transform: uppercase;
        text-align: center;
    }
    &__item {
        display: flex;
        margin-top: 100px;
        img {
            width: 169px;
            height: 169px;
        }
    }
    &__descr {
        margin-left: 62px;
        padding-right: 60px;
    }  

    &__name {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        color: #646464;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        color: #0D0D0D;
    }
}